 <div class="sidebar-brand d-none d-md-flex">
      <h3 class="sidebar-brand-full"><i class="nav-icon cil-gem"></i> T-Fusion</h3>
      <h3 class="sidebar-brand-narrow"><i class=" nav-icon cil-gem"></i></h3>
</div>
<ul class="sidebar-nav" data-coreui="navigation" data-simplebar>
      <li class="nav-item"><a class="nav-link" href="index.html">
                  <i class="nav-icon cil-speedometer"></i>
                  Dashboard<span class="badge badge-sm bg-info ms-auto">NEW</span></a></li>
      <li class="nav-title">Карты</li>
      <li class="nav-group"><a class="nav-link nav-group-toggle" href="#">
                  <i class="nav-icon cil-location-pin"></i>
                  Карты</a>
            <ul class="nav-group-items">
                  <li class="nav-item"><a class="nav-link"
                              href="base/accordion.html"><span
                                    class="nav-icon cil-layers"></span>
                                    Катра покрытия</a></li>
                  <li class="nav-item"><a class="nav-link"
                              href="base/accordion.html"><span
                                    class="nav-icon cil-laptop"></span>
                                    Катра оборудования</a></li>
                  <li class="nav-item"><a class="nav-link"
                              href="base/accordion.html"><span
                                    class="nav-icon cil-sitemap"></span>
                                    Распределение портов</a></li>
            </ul>
      </li>
      <li class="nav-title">Отчеты</li>
      <li class="nav-group"><a class="nav-link nav-group-toggle" href="#">
                  <i class="nav-icon cib-tableau"></i>
                  Отчеты</a>
            <ul class="nav-group-items">
                  <li class="nav-item"><a class="nav-link"
                              href="base/accordion.html"><span
                                    class="nav-icon cil-ethernet"></span>
                              Емкость портов</a></li>
                  <li class="nav-item"><a class="nav-link"
                              href="base/accordion.html"><span
                                    class="nav-icon cil-braille"></span>
                              Активная емкость</a></li>
            </ul>
      </li>
</ul>

<!-- <button class="sidebar-toggler" type="button" data-coreui-toggle="unfoldable"></button> -->
