<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="clearfix">
            <h1 class="float-start display-3 me-4"><%= messages.status %></h1>
            <h4 class="pt-3"><%= messages.pageTitle %></h4>
            <p class="text-medium-emphasis"><%= messages.text %></p>
          </div>
        </div>
      </div>
    </div>
  </div>